{% extends "voting_app/base.html"%}
{% block body_block%}
     <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Vote At The Comfort Of Your Home</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Edemocracy system helps you participate in elections without having to be physically at the venue. At Edemocracy we ensure  free and fair elections.</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"><h3>SIGN IN</h3></a>
                    <!-- add url to login page -->
                </div>
            </div>
        </div>
    </header>
{% endblock %}
